html, body {
    margin: auto;
    padding: 0;
    width: 375px;
    border: 1px solid #C6C6C6;
    font-family: "Source Sans 3", sans-serif;
}

/* Top Navigation */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 2px solid #C6C6C6;
}

.logo{
    width: 127px;
    height: 55px;
}

.profile-pic{
    width: 34px;
    height: 34px;
    margin-top: 10px;
    border-radius: 30px;
}

.id-name{
    color: black;
}

/* User Info */

.user-info{
    display: flex;
    margin: -11px 0 10px 11px;
}

#user-avatar{
    width: 34px;
    height: 34px;
    margin-top: 10px;
    border-radius: 30px;
}

.name-location{
    margin: 18px 0 0 6px;
}

#id-name{
font-size: 13px;
font-weight: bold;
margin: 0;
}

#location{
    font-size: 12px;
    margin: 0;
}

/* Content */
#img-post{
    max-width: 100%;
    margin: 0;
}

/* Buttons */

.interactive-icons{
    height: 54px;
    display: flex;
    margin-left: 3px;
}

.btn
{
width: 45px;
background-color: white;
border: none;
}

#like-btn, #cmt-btn, #share-btn{
    width: 30px;
    height: 30px;
    margin: 0;
}