html, body {
    margin: auto;
    padding: 0;
    width: 375px;
    background: #C6C6C6;
    font-family: "Source Sans 3", sans-serif;
}

.olda-post{
     background: white;
     padding-bottom: 15px;
}

/* Top Navigation */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 5px 8px;
    border-bottom: 1px solid #C6C6C6;
    background-color: white;
}

.logo{
    width: 127px;
    height: 55px;
}

.profile-pic{
    width: 34px;
    height: 34px;
    margin-top: 10px;
    border-radius: 30px;
}

.id-name{
    color: black;
}

/* User Info */

.user-info{
    display: flex;
    margin: 0 0 10px 11px;
}

#user-avatar{
    width: 34px;
    height: 34px;
    margin-top: 5px;
    border-radius: 30px;
}

.name-location{
    margin: 9px 0 0 6px;
}

#id-name{
font-size: 14px;
font-weight: bold;
margin: 0;
}

#location{
    font-size: 12px;
    margin: 0;
}

/* Content */
#img-post{
    max-width: 100%;
    margin: 0;
}

/* Buttons */

.interactive-icons{
    display: flex;
    margin-top: 15px;
}

.btn
{
width: 40px;
background: transparent;
border: none;
cursor: pointer;
}

#like-btn, #cmt-btn, #share-btn{
    max-width: 100%;
}

#like-btn:hover, #cmt-btn:hover, #share-btn:hover{
    background-color: red;
}

#likes-count{
    margin: 10px 0 0 10px;
    font-weight: bold;
}

#username-caption{
    display: flex;
    gap: 5px;
    margin: 10px 0 0 10px;
}

#username{
    font-weight: bold;
}